@charset "UTF-8";
/*jqueryでクラス操作しているもの

z-index階層

1:
2:.main-content_thumbnailの文字を画像上に重ねる
3:レスポンシブメニュー展開時の背景
4:レスポンシブメニュー展開時のハンバーガーメニュー


*↑↑*/


/*↓レスポンシブナビ開閉
position: fixed;
	background: gray;
display: block;
*/
.topnav {
    position: fixed;
	background: #1E2633;
	display: block;
	width: 63vw;
	height: 100%;
	z-index: 3;
	right: -63vw;
	top: 0;
}

/*.nav-open {
	position: fixed;
	background: #1E2633;
	display: block;
    width: 100%;
    height: 100%;
    z-index: 3;
	
}*/

/*↑↑*/

.panel-btn .close{
	background: transparent;
	margin: -4px 0 0 -12px;
}

.panel-btn .close:before, .panel-btn .close:after{
  	margin-top: 0;
}

.panel-btn .close:before{
  	transform: rotate(-45deg);
  	-webkit-transform: rotate(-45deg);
}

.panel-btn .close:after{
  	transform: rotate(-135deg);
  	-webkit-transform: rotate(-135deg);
}
